%section.blast_dynamic_content
	- if social_media_user?
		%div
			%button#launch_tweet_modal_button.btn.btn-primary.btn-lg{"data-target" => "#send-tweet-modal", "data-toggle" => "modal"}
				Schedule Tweet
			%h3#thanks_text{"style" => "display:none"}
				Thanks for using blast.social to schedule a tweet!
			%h5 
				or
				= link_to "Sign out", signout_path
	- else
		%p
			= link_to image_tag("twitter_sign_in.png", :border => 0, :alt => 'Sign in to Twitter', :title => ''), "/auth/twitter?origin=#{request.original_url}", :class => 'twitter-sign-in-button'
		%p
			%fb:login-button{:onlogin => "checkLoginState();", :scope => "email,publish_actions,user_about_me,public_profile"}
		#status