  
  body{
    background-color: black;
    /* background-image: asset_url('theheirs/theHEIRS.jpg'); */
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
  }

  .white-container {
    margin-top: 40px;
    min-width: 200px;
    padding: 40px;
    padding-bottom: 48px;
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #444;
    -moz-box-shadow:    0px 6px 12px 0px rgba(0,0,0,0.15);
    box-shadow:         0px 6px 12px 0px rgba(0,0,0,0.15);
  }

  h1{
    font-size:164px;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
  }
  h2{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style:italic;
    font-size: 36px;
    color: white;
  }

  h4{
    font-size: 16px;
    font-weight: 900;
    padding: 20px;
    position: relative;
    left: 12px;
  }

  #footer{
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    width: 85%;
    margin: 0 auto 0;
    font-size: 10px;
    opacity: .4;
    font-weight: 300;
    text-align: center;
    bottom: 0px;
  }

  #wrapper {

  }

  .send-tweet-modal {
    background-color: #551a8b !important;
  }

  .schedule_tweet_button, .modal-header, #launch_tweet_modal_button {
    background-color: #551a8b !important;
    color: #FFFFFF !important;
  }

  a {
    color: #FFF !important;
  }

  h2 {
    font-size: 28px !important;
  }

  .tweet_message .control-label {
    text-align: left !important;
  }

  #mc_embed_signup {
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }