<style>
  
  body{
    background-color: #FFEB3B;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
  }
  p {
    font-size:14px;
    opacity: .3;
  }
  a{
    color: #000000;
  }
  #wrapper{ 
    width: 85%;
    margin: 0 auto 0;
    padding:0;
  }
  #header{
    margin-top:12%;
  }
  h1{
    font-size:164px;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
  }
  #textbody{
    margin-left: 8px;
  }
  h2{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size: 36px;
  }
  #cta{
    margin-top: 48px;
    margin-left: 8px;
  }
  .button{
    width: 200px;
    border-width: 4px;
    border-style: solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    text-align:center;
  }
  .button a{
    text-decoration: none;
  }
  .button:hover{
    background-color: #DDC919;
  }
  h4{
    font-size: 20px;
    font-weight: 900; 
    margin: 16px;
    text-transform: uppercase;
  }
  .example{
    padding-top: 21px;
    margin-left: 16px;
    float: left;
    opacity: .3;
  }
  #footer{
    position:absolute;
    bottom: 16px;
    margin-left: 8px;
    font-size: 10px;
    opacity: .5;
    font-weight: 300;
  }
  #signup-modal .modal-content {
    height: 450px;
  }
</style>
<div id="wrapper">

  <div id="header">
    <h1>Blast.Social</h1>
    <div id="textbody">
      <h2>Your Twitter Flashmob</h2>
      <p>Social helps you organize your audience, so they can share a message on Twitter.<br>Think of a protest of 1,000 people over 1,000 days, compared to one day with 1,000 people.<br><br>It's like your own personal flash mob.</p>
      </div> <!--textbody-->
    </div> <!--header-->
  <div id="cta">
    <a href="https://socialblast.typeform.com/to/qVvSVz"><div class="button"><h4>Start a Mob</h4>
      </div></a> <!--button-->
    <div class="example" style="display:none;"><a href="">or check out someone else's mob</a></p>
        </div> <!--example-->
    <%= render "contents/names" %>
    </div> <!--cta-->
  <div id="footer">
    <p>Copyright 2014 - blast.social // All Rights Reserved</p><%= link_to "Privacy Policy", privacy_path %>
    </div> <!--footer-->

</div> <!--wrapper-->
