<%
meta twitter: {
  card: "summary_large_image",
  title: "Learn about #ThePurpleTapeFiles launch!",
  description: "The announcement of #ThePurpleTapeFiles project will change the way you view music in film.",
  site: "blast.social",
  image: { src: "http://i.imgur.com/k0crUvR.jpg" }
}
%>
<div id="wrapper" class="container col-xs-12">
	<div class="col-xs-12 center row">
		<center>
      <% if is_mobile_device? %>
        <%= image_tag 'onlybuilt4cubanlinx/k0crUvR.jpg', height: '300', width: '300' %>
      <% else %>
        <%= image_tag 'onlybuilt4cubanlinx/k0crUvR.jpg', height: '600', width: '775' %>
      <% end %>
    </center>
	</div>
  <div class="row col-xs-12 center">
    <h2 class="tac">Connect with Twitter below and schedule your answer to be posted on launch day, Thursday, February 5th at 9AM EST  <a href="https://twitter.com/search?q=%23ThePurpleTapeFiles&amp;src=tyah">#ThePurpleTapeFiles</a>. <br><br>What #OnlyBuilt4CubanLinx tracks gotta be featured in #ThePurpleTapeFiles doc?</h2>
  </div> <!--message-->
  <div class="row col-xs-16 center ">
      <center><%= render "/tweets/schedule_tweet" %></center>
  </div> <!--cta-->


</div> <!--wrapper-->