<%
meta twitter: {
  card: "summary_large_image",
  title: "Learn about #ThePurpleTapeFiles launch!",
  description: "The announcement of #ThePurpleTapeFiles project will change the way you view music in film.",
  site: "blast.social",
  image: { src: "http://i.imgur.com/hiOecEq.jpg" }
}
%>
<div id="wrapper" class="container col-xs-12">
	<div class="col-xs-12 center row">
		<center>
      <% if is_mobile_device? %>
        <%= image_tag 'onlybuilt4cubanlinx/k0crUvR.jpg', height: '300', width: '300' %>
      <% else %>
        <%= image_tag 'onlybuilt4cubanlinx/k0crUvR.jpg', height: '600', width: '775' %>
      <% end %>
    </center>
	</div>
  <div class="row col-xs-12 center">
    <h2 class="tac">What #OnlyBuilt4CubanLinx tracks gotta be featured in #ThePurpleTapeFiles doc?<br><br>
      Connect with Twitter below and schedule your answer to be posted on launch day, Friday, February 6th at 9AM EST  <a href="https://twitter.com/search?q=%23ThePurpleTapeFiles&amp;src=tyah">#ThePurpleTapeFiles</a>.</h2>
  </div> <!--message-->
  <div class="row col-xs-16 center ">
      <center><%= render "/tweets/schedule_tweet" %></center>
  </div> <!--cta-->
  <div class="row col-xs-12 center">
    <h2 class="tac">One lucky fan's twitter profile will be FEATURED as the Purple Tape FAN of the DAY on our FanBacked Crowdfunding page when we go live and receive a special shout-out straight from Raekwon and Ghostface.<br><br>
    Also sign Up for Exclusive Updates below:</h2>
  </div> <!--message-->
  <div class="row col-xs-12 center">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//ThePurpleTapeFiles.us10.list-manage.com/subscribe/post?u=0b9e5d13f5201bcda197475cc&amp;id=2aa71fd4f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_0b9e5d13f5201bcda197475cc_2aa71fd4f6" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div> <!--wrapper-->