= image_tag "prop47/bg.jpg", class: "bg", id: "bgimg"
%section#wrapper
  %section.content-box.type2
    %center
      %font{:face => "sans-serif", :size => "18"} #VoteYes47
    %section#content-box.blackbox
      %h3#primary-headline
        "Help us share the message below on Friday!"
      %p
        %font{:background => "fff"} Lets fix California's broken prison system and vote yes on Prop 47 on 11/4! #voteyes47 http://ctt.ec/9JQav+
      %p#primary-subheadline Sign-in to schedule a message!
      = render "/tweets/schedule_tweet"
      %p#subtext
        %strong Privacy Policy:
        We hate SPAM and promise to keep
        %br/
        your information safe.