<div id="wrapper" class="container col-xs-12">

  <div class="row col-xs-16  center">
    <h2 class="tac">The Heirs are releasing their new single on Tuesday, November 11th!</h2>
  </div> <!--message-->
  <div class="row col-xs-16 center ">
      <center><%= render "/tweets/schedule_tweet" %></center>
  </div> <!--cta-->
  <div id="footer" class="row col-xs-16">
    <p>We HATE SPAM and promise to keep your information secure.<br>Copyright 2014 - blast.social // All Rights Reserved</p>
  </div> <!--footer-->

</div> <!--wrapper-->