<div id="wrapper" class="container col-xs-12">
	<div class="col-xs-12 center row">
		<center><%= image_tag 'theheirs/theHEIRS.jpg', height: '700', width: '700' %></center>
	</div>
  <div class="row col-xs-12 center">
    <h2 class="tac">The Heirs are releasing their new single on Tuesday, November 11th!</h2>
  </div> <!--message-->
  <div class="row col-xs-16 center ">
      <center><%= render "/tweets/schedule_tweet" %></center>
  </div> <!--cta-->


</div> <!--wrapper-->