<%
meta twitter: {
  card: "summary",
  site: "blast.social"
}
%>
<div id="wrapper" class="container col-xs-12">
	<div class="col-xs-12 center row">
		<center><%= image_tag 'theheirs/theHEIRS.jpg', height: '300', width: '300' %></center>
	</div>
  <div class="row col-xs-12 center">
    <h2 class="tac">Listen to @TheHeirs_Music new single <a href="https://twitter.com/search?q=%23AlrightGoodnight&src=tyah">#AlrightGoodnight</a>. Now available @iTunes!! <a href="http://bit.ly/1xtomTZ">http://bit.ly/1xtomTZ</a></h2>
  </div> <!--message-->
  <div class="row col-xs-16 center ">
      <center><%= render "/tweets/schedule_tweet" %></center>
  </div> <!--cta-->


</div> <!--wrapper-->