<style type="text/css">
  
  body{
    background-color: black;
    background-image: url("/assets/theheirs/theHEIRS.jpg");
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
  }

  .white-container {
    margin-top: 40px;
    min-width: 200px;
    padding: 40px;
    padding-bottom: 48px;
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #444;
    -moz-box-shadow:    0px 6px 12px 0px rgba(0,0,0,0.15);
    box-shadow:         0px 6px 12px 0px rgba(0,0,0,0.15);
  }

  h1{
    font-size:164px;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
  }
  h2{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style:italic;
    font-size: 36px;
    color: white;
  }

  h4{
    font-size: 16px;
    font-weight: 900;
    padding: 20px;
    position: relative;
    left: 12px;
  }

  #footer{
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    width: 85%;
    margin: 0 auto 0;
    font-size: 10px;
    opacity: .4;
    font-weight: 300;
    text-align: center;
    bottom: 0px;
  }

  #wrapper {
    padding-top: 50px;
  }

  </style>
<div id="wrapper" class="container col-xs-12">

  <div class="row col-xs-16  center">
    <h2 class="tac">The Heirs are releasing their new single on Tuesday, November 11th!</h2>
  </div> <!--message-->
  <div class="row col-xs-16 center ">
      <center><%= render "/tweets/schedule_tweet" %></center>
  </div> <!--cta-->
  <div id="footer" class="row col-xs-16">
    <p>We HATE SPAM and promise to keep your information secure.<br>Copyright 2014 - blast.social // All Rights Reserved</p>
  </div> <!--footer-->

</div> <!--wrapper-->