.modal-header {
	background-color: #357ebd;
}
.modal-title {
	font-color: #fff;
}
#schedule_tweet_button {
	background-color: #357ebd;
	font-color: #fff;
}
#schedule_tweet_button:hover {
	background-color: #428bca;
}