#send-tweet-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title
          = "##{@schedule_tweet_title} via blast.social!"
      .modal-body
        .col-xs-10.row
          = render 'tweets/schedule_tweet_form' if current_user && !admin_user?
          = link_to "Sign out", signout_path if admin_user?
